In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('spam.csv', encoding='latin')

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
df['v2']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [27]:
for i in range(20):
    print(df['v2'][i])

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
Ok lar... Joking wif u oni...
Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
U dun say so early hor... U c already then say...
Nah I don't think he goes to usf, he lives around here though
FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv
Even my brother is not like to speak with me. They treat me like aids patent.
As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
WINNER!! As a valued network customer you have been selected to receivea å£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030
I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today.
SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info
URGENT! You have won a 1 week FREE membership in our å£100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18
I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.
I HAVE A DATE ON SUNDAY WITH WILL!!
XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL
Oh k...i'm watching here:)
Eh u remember how 2 spell his name... Yes i did. He v naughty make until i v wet.
Fine if thatåÕs the way u feel. ThatåÕs the way its gota b
England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/Ì¼1.20 POBOXox36504W45WQ 16+

In [29]:
import re
df['v2'][15]

'XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL'

In [30]:
step1 = re.sub('[^a-zA-Z]', ' ', df['v2'][15])
step1

'XXXMobileMovieClub  To use your credit  click the WAP link in the next txt message or click here   http   wap  xxxmobilemovieclub com n QJKGIGHJJGCBL'

In [34]:
step2 = re.sub('http', '', step1)
step2

'XXXMobileMovieClub  To use your credit  click the WAP link in the next txt message or click here      wap  xxxmobilemovieclub com n QJKGIGHJJGCBL'

In [35]:
step3 = step2.lower()
step3

'xxxmobilemovieclub  to use your credit  click the wap link in the next txt message or click here      wap  xxxmobilemovieclub com n qjkgighjjgcbl'

In [39]:
step4 = step3.split()
step4[0:5]

['xxxmobilemovieclub', 'to', 'use', 'your', 'credit']

In [40]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
stemming = PorterStemmer()

In [42]:
step5 = [stemming.stem(word) for word in step4 if word not in stopwords.words('english')]
step5

['xxxmobilemovieclub',
 'use',
 'credit',
 'click',
 'wap',
 'link',
 'next',
 'txt',
 'messag',
 'click',
 'wap',
 'xxxmobilemovieclub',
 'com',
 'n',
 'qjkgighjjgcbl']

In [45]:
step6 = ' '.join(step5)
step6

'xxxmobilemovieclub use credit click wap link next txt messag click wap xxxmobilemovieclub com n qjkgighjjgcbl'